{% extends "base.html" %}

{% block content %}
{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}
    <h1>Log In</h1>
<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<br>
<input type="submit" value="login" />
<!-- <a href="{% url registration_register %}">Don't have an account?</a> -->
<input type="hidden" name="next" value="{{ next }}" />
</form>

                <!-- </div> -->

<br><br><br><br>
<hr>
<hr>
<br>
<hr>
<hr>
<br>
<hr>
<hr>
<br><br><br>

<h1>Get an Account</h1>


<div class="span-14">
                    
<form action="/accounts/register/" method="POST">
<table>
<tr>
    <td align="right" valign="top">Username:</td>
    <td>
        <input id="id_username" type="text" class="required" name="username" maxlength="30" /> <br/>
        
    </td>
</tr>
<tr>
    <td align="right" valign="top">Email:</td>
    <td>
        <input id="id_email" type="text" class="required" name="email" maxlength="75" /> <br/>
        
    </td>
</tr>
<tr>
    <td align="right" valign="top">Password:</td>
    <td>
        <input id="id_password1" type="password" class="required" name="password1" /> <br/>
        
    </td>
</tr>
<tr>
    <td align="right" valign="top">Password (again):</td>
    <td>
        <input id="id_password2" type="password" class="required" name="password2" /> <br/>
        
    </td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Register" /></td>
</tr>
</table>
</form>
<br>
<p> <b> Why? </b>An account gives you your own world. Everything you write in the common world gets saved to your world, but not vice versa. You can share your personal world with other people, or keep it private.</p>

</div> 
{% endblock %}

