/* Blueprint overrides: */
body {
/*    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, sans-serif;*/
overflow:auto!important;
}
.container {
    margin: 0;
}
ul, ol {
    padding-left: 1em;
}

/* end blueprint overrides */

body {
    padding-left: 2em;
    background: #fff;
}

#topbar {
    text-align: right;
}

p {
    margin-bottom: 1em;
}

ul {
    margin-top: .2em;
}

li {
    margin-left: 2em;
}

.float_left {
	float:left;
	margin:0 30px 0 0;
}

#updates {
    overflow: hidden;
	font-size:12px;
	width:250px;
	border-bottom:1px solid #000;
	padding-bottom:-1px;
}

#updates ul, #updates ol {
    list-style-type: none;
    padding: 0;
    margin-bottom:0;
}

#updates li {
    padding-top: .5em;
	margin:0;
	border-bottom:1px solid #999;
	padding-bottom:5px;
}

#updates li:last-child {
	border-bottom:none;
}
#updates_title {
    font-weight	: bold;
	border-bottom:1px solid #000;
}

#updates_container {
    margin-top: .5em;
}
 
.text {
	font-size:14px;
    text-align: left;
    padding-left: 2em;
    max-width: 500px; /* 9 cols, 30em */
}

.date {
color: #444;
font-size: 80%;
}

.loading {
    color: #666;
}

.content_set {
    background-color:#DDDDDD;
    border:1px solid #AAAAAA;
    margin-bottom:1em;
    padding-bottom:0.3em;
}

.content_set_content {
    clear:both;
    padding:0.2em 0.5em;
}

.content_set_title {
    background-color: #eee;
    float:left;
    font-size:120%;
    margin-left:1px;
    margin-top:1px;
    padding:0.1em 0.5em;
    color: #222;
}
.set_description {
    font-size: 80%;
    max-width: 80%;
    color: #444;
}

#feature_choices td {
    padding-top:0.5em;
    padding-bottom:0.5em;
}

.feature_name {
    padding-right:0.5em;
}

.feature_description {
    padding-left: .5em;
    font-size: 80%;
    color: #444;
    width: 30%;
}
