* { 
    margin: 0; 
    padding: 0;
}
body {
    overflow: hidden;
    font-size: 16px;
	font-family: monospace;
    
}


h1 {
	font-family: Helvetica, Arial, Sans-Serif;
	font-weight:bold;
	margin-bottom:10px;
	font-size:40px;
	}

p {
	margin-bottom:15px;	line-height:1.3;
}
.colory
{
    color: green !important;
}



#mapcanvas
{
    width: 100%;
    height: 100%;
    position: fixed !important;
    color: white;
    font-family: monospace;
	background:none!important;
}

#mapcanvas b
{
    color: black;
}

img
{
    border: 0;
    text-decoration: none;
} 

.tilecont {
    /*position: absolute;*/
    /*background-color: red;*/
}

.protected {
    background-color: red;
}

#yourworld table {
    table-layout: fixed;
}


#yourworld
{
    /*opacity: 0;*/
    color: white;
      -webkit-transition: opacity 2s ease-in-out;
}

#yourworld.haveOffset
{
    opacity: 1;
}


#geoReminder
{
    background-color: #ff4d4d;
   text-align: center;

    padding: 20px;

}
	#geoReminder h3 {
		color:#fff;
	}

/*
td {
    overflow: hidden;
}
*/


#loadingIndicator, #aboutOverlay
{
    position: absolute;
	background:#fff;
	z-index:1;
    width: 45%;
    margin: 10% 25%;
    padding: 2.5%;

	-moz-box-shadow: 0 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

    /*border: 1px solid blue;*/
}

.logo {margin: -13px 0 10px -13px;}

#aboutOverlay {display:none;}

/* below is just for tabs etc. */

a, a:link, a:hover, a:active, a:visited {
    text-decoration: none;
    color: red;
}

#topbar {
    position: relative;
    top: 0;
    width: 100%;
	font-size: 12px;
	text-transform:lowercase;
	letter-spacing: .05em;
}

#bottombar {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align:right;
}

#topbar_inner {
    width:100%;
    position:absolute;
/*	display:none;*/
}


/*UI*/

.button { 

	background:#fff;
	padding:1px 5px;
	margin-left:5px;
	font-size: 12px;
	color:#ff0000;
	}
#about_btn {
	position:absolute; 
	z-index:10;
	bottom:0;
	right:0;
	}

#takeme_btn, #login_btn {
	position:relative;
	float:right;

}

.closeme {
	position:absolute;
	top:-12px;
	right:-12px;
	background:url("closeme.png")right top no-repeat;
	width:24px;
	height:24px;
	}
	.closeme:hover {
		background:url("closeme_h.png")right top no-repeat;
		cursor:pointer;
	}

.ui {
    color: #888;
    font-size: 12px;
    z-index: 1;
}

.ui-vis {
    background-color: rgba(0, 0, 255, .1);
    padding: 2px;
}

.tab {
    padding-top: 0;
    top: 0px;
    position: absolute;
}

#paused {
    left: 2px;
    display: none;
}

#announce {
    display:none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    width: 60%;
    text-align: center;
    background: #E5E5FF;
    font-weight: bold;
    color: #333;
}

#loading {
}

#coords {
    display:none;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #555;
    background: #E5E5FF;
}

.menu {
    right: 0;
}

#menu {
    cursor: pointer;
}

#menu.hover {
    /* change style to match menu content on hover */
    color: #555;
    background: #E5E5FF;
    border-left: 1px solid #ccc;
}

.coordLink {
    color: green;
    text-decoration: underline;
    cursor: pointer;
}

a.urlLink {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

/*** NAV MENU code taken from jquery.droppy ***/

#nav {
 display: none;
 position: absolute; 
 text-align: right;                                                           
 top: 1.5em; /* adjusted by JS */
 background: #E5E5FF; /* Like title w/white background, no alpha */
 width: 8em;
 color: #555;
 border-left: 1px solid #ccc;
 border-bottom: 1px solid #ccc;
}

#nav li { 
    display: block;                                                           
    list-style: none; 
    position: relative;
    cursor: pointer;
}

#nav a {      
    display: block; 
}

* html #nav ul { line-height: 0; } /* IE6 "fix" */                            
#nav ul a { zoom: 1; } /* IE6/7 fix */                                        

#nav a { }
#nav li.hover { background-color: white; }
/* #nav ul a { border-bottom: none; } - I also needed this for IE6/7 */


/*** END NAV MENU ***/


/*** SIMPLEMODAL code taken from jquery.simplemodal ***/
#simplemodal-overlay {background-color:#000; cursor:default;}
#simplemodal-container {
       color:#333; 
       background-color:#e5e5ff; 
       border:6px solid #c3c3ff; 
       padding:12px;
   }
#simplemodal-container a {color:#ddd;}

.simplemodal-closelink { color: blue; text-decoration: underline; cursor:pointer}
.simplemodal-closebutton { 
    position:absolute; 
    top:-15px; 
    right:-15px; 
    cursor:pointer;
    font-size: 160%;
}

/*** SIMPLEMODAL CONTENT ***/

#goto_submit {
    margin-left: 1em;
    margin-top: 3px;
}

/*** END SIMPLEMODAL ***/

.hidden {display:none;}

.t0 {color:#6bbd68;}
    .c0{background:#037700;}
.t1 {color:#bd57b3;}
    .c1{background:#9e008c;}
.t2 {color:#ffff9D;}
    .c2{background:#ffff2b;}
.t3 {color:#ff73ad;}
    .c3{background:#ff3086;}
.t4 {color:#8dd3ff;}
    .c4{background:#009dff;}
.t5 {color:#d796ff;}
    .c5{background:#a719ff;}
.t6 {color:#abff9c;}
    .c6{background:#49ff28;}
.t7 {color:#ff6e6e;}
    .c7{background:#e40000;}
.t8 {color:#5e7eff;}
    .c8{background:#003dff;}
.t9 {color:#ff9654;}
    .c9{background:#ff6200;}
.t10 {color:#8dffc7;}
    .c10{background:#00ff81;}




@-webkit-keyframes pulser {
        0%   { opacity: 1;  -webkit-box-shadow: 0px 0px 5px white;}
        50% { opacity: 0.6;  -webkit-box-shadow: 0px 0px 1px white;}
        100% { opacity: 1; -webkit-box-shadow: 0px 0px 8px white;}
}
@-moz-keyframes pulser {
        0%   { opacity: 1; -moz-box-shadow:0px 0px 5px white; }
        50% { opacity: 0.6; -moz-box-shadow:0px 0px 1px white; }
        100% { opacity: 1; -moz-box-shadow:0px 0px 5px white; }
}
@-ms-keyframes pulser {
        0%   { opacity: 1; }
        50% { opacity: 0.6;  }
        100% { opacity: 1; }
}

.selected {
/*    background-color: yellow;*/
     -webkit-animation: pulser 1s infinite;
     -moz-animation:    pulser 1s infinite;
     -ms-animation:     pulser 1s infinite;
     -webkit-box-shadow: 0px 0px 0px white;
}


@-webkit-keyframes fi {
        0%   { opacity: 0; }
        100% { opacity: 1; }

}
@-moz-keyframes fi {
        0%   { opacity: 0; }
        100% { opacity: 1; }

}
@-ms-keyframes fi {
        0%   { opacity: 0; }
        100% { opacity: 1; }

}


.tilecont
{
     -webkit-animation: fi 2s ;
     -moz-animation:    fi 2s ;
     -ms-animation:     fi 2s ;
}


