* { 
    margin: 0; 
    padding: 0;
}
body {
    overflow: hidden;
	font-family: Helvetica, Arial, Sans-Serif;
    font-size: 16px;
	/*line-height:1.3;*/
}

.colory
{
    color: green !important;
}



#mapcanvas
{
    width: 100%;
    height: 100%;
    position: fixed !important;
    color: white;
    font-family: monospace;
	background:none!important;
}

#mapcanvas b
{
    color: black;
}

img
{
    border: 0;
    text-decoration: none;
} 

.tilecont {
    /*position: absolute;*/
    /*background-color: red;*/
}

.protected {
    background-color: red;
}

#yourworld table {
    table-layout: fixed;
}


#yourworld
{
    /*opacity: 0;*/
    color: white;
      -webkit-transition: opacity 2s ease-in-out;
}

#yourworld.haveOffset
{
    opacity: 1;
}


#geoReminder
{
    background-color: #ff4d4d;
   text-align: center;

    padding: 20px;

}
	#geoReminder h3 {
		color:#fff;
	}

/*
td {
    overflow: hidden;
}
*/


#loadingIndicator, #aboutOverlay
{
    text-align: center;
    position: absolute;
	background:#fff;
	z-index:1;
    width: 45%;
    margin: 10% 25%;
    padding: 2.5%;

-moz-box-shadow: 0 0px 5px #888;
-webkit-box-shadow: 0px 0px 5px #888;
box-shadow: 0px 0px 5px #888;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;

    /*border: 1px solid blue;*/
}
#aboutOverlay {display:none;}

/* below is just for tabs etc. */

a, a:link, a:hover, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}

#topbar {
    position: relative;
    top: 0;
    width: 100%;
}

#topbar_inner {
    width:100%;
    position:absolute;
	display:none;
}
#topbarAbout {
	position:absolute;
	top:0;
	right:0px;
	background:#fff;
	padding:1px 5px;
	font-size: 12px;
	color:#ff0000;
	}
	.closeme {
		position:absolute;
		top:-12px;
		right:-12px;
		background:url("closeme.png")right top no-repeat;
		width:24px;
		height:24px;
	}
	.closeme:hover {
		background:url("closeme_h.png")right top no-repeat;
		cursor:pointer;
	}

.ui {
    color: #888;
    font-size: 12px;
    z-index: 1;
}

.ui-vis {
    background-color: rgba(0, 0, 255, .1);
    padding: 2px;
}

.tab {
    padding-top: 0;
    top: 0px;
    position: absolute;
}

#paused {
    left: 2px;
    display: none;
}

#announce {
    display:none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    width: 60%;
    text-align: center;
    background: #E5E5FF;
    font-weight: bold;
    color: #333;
}

#loading {
}

#coords {
    display:none;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #555;
    background: #E5E5FF;
}

.menu {
    right: 0;
    display: none; /* title is shown by makeMenu */
}

#menu {
    cursor: pointer;
}

#menu.hover {
    /* change style to match menu content on hover */
    color: #555;
    background: #E5E5FF;
    border-left: 1px solid #ccc;
}

.coordLink {
    color: green;
    text-decoration: underline;
    cursor: pointer;
}

a.urlLink {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

/*** NAV MENU code taken from jquery.droppy ***/

#nav {
 display: none;
 position: absolute; 
 text-align: right;                                                           
 top: 1.5em; /* adjusted by JS */
 background: #E5E5FF; /* Like title w/white background, no alpha */
 width: 8em;
 color: #555;
 border-left: 1px solid #ccc;
 border-bottom: 1px solid #ccc;
}

#nav li { 
    display: block;                                                           
    list-style: none; 
    position: relative;
    cursor: pointer;
}

#nav a {      
    display: block; 
}

* html #nav ul { line-height: 0; } /* IE6 "fix" */                            
#nav ul a { zoom: 1; } /* IE6/7 fix */                                        

#nav a { }
#nav li.hover { background-color: white; }
/* #nav ul a { border-bottom: none; } - I also needed this for IE6/7 */


/*** END NAV MENU ***/


/*** SIMPLEMODAL code taken from jquery.simplemodal ***/
#simplemodal-overlay {background-color:#000; cursor:default;}
#simplemodal-container {
       color:#333; 
       background-color:#e5e5ff; 
       border:6px solid #c3c3ff; 
       padding:12px;
   }
#simplemodal-container a {color:#ddd;}

.simplemodal-closelink { color: blue; text-decoration: underline; cursor:pointer}
.simplemodal-closebutton { 
    position:absolute; 
    top:-15px; 
    right:-15px; 
    cursor:pointer;
    font-size: 160%;
}

/*** SIMPLEMODAL CONTENT ***/

#goto_submit {
    margin-left: 1em;
    margin-top: 3px;
}

/*** END SIMPLEMODAL ***/
