{% extends "base.html" %}

{% block title %}
    Homepage | {{ block.super }}
{% endblock %}

{% block header %}
	<div class="text">
		<img class="logo" src="/static/ww_big.png">
    	<h1>About this project</h1>
	</div>
{% endblock %}

{% block content %}
        <p>    
		Hi There, 
		</p><p>
		We’re <a href="http://zachschwartz.com">Zach Schwartz</a>, <a href="http://www.bravomartin.cl/">Martín Bravo</a>, <a href="http://nara-designs.com">Nara Kasbergen</a>, Rachel Slaff, and Ruth Spencer, students in <a href="http://shirky.com/">Clay Shirky’s</a> Designing Conversational Spaces course at NYU’s <a href="http://itp.nyu.edu/itp/">ITP</a>. </p>
		<p>
		The Written World is an experiment, based on <a href="http://www.yourworldoftext.com/">yourworldoftext</a>. We’ve placed a free-form text canvas on top of Google maps and added geolocation* functionality to see what happens when we combine online chat with the pre-existing relationships that are inherent to physical location and real-world places. For now, we’ve limited WW to New York users, but will open it up to everyone soon.
		</p>
		<p>
		You’ll automatically be positioned at your current location*. Want to travel? Type your way over to different areas or click and drag to scroll. To move the cursor, use the arrow keys, or double click.
		</p><p>
		That’s it. The rules of the site are for you to create (or ignore). So what are you waiting for? Go explore! 
		</p><p>
		<small>
		*Geolocation is an experimental feature in html5 and may not work in all browsers, locations, operating systems, and weather systems. On our experience, <a href="http://www.firefox.com">Firefox</a> is the browser that works better. Sorry.</small>
		</p>

	<br>
	<a href="/"> Go to the common world!</a>

{% endblock %}
