<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <title>Written World</title>
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"> 
    <link type="text/css" rel="stylesheet" href="/static/yourworld.css?v=1">
	<link rel="shortcut icon" href="/static/ww.png" />

</head>
<body>
<div id="topbar" class="ui">
  <!-- <div id="topbarAbout"> <a href="#">what is this?</a></div> -->
    <div id="topbar_inner">
        <span id="paused" class="ui-vis tab">Paused</span>
        <div id="announce" class="ui-vis"></div>
		<div id="login_btn" class="button"> <a  href="/accounts/login/">get your own world</a></div>
		<!-- <div id="takeme_btn" class="button"> <a class="travel" address="New York City" href="#">take me to NYC</a></div> -->

        <!-- <span id="menu" class="ui-vis tab menu">Menu <span style="font-size:50%">▼</span></span> -->
    </div>
</div>
<div id="nav" class="ui menu ui-vis">
    <ul>
        <li>
            <a href="{% url home %}" target="_blank">About&nbsp;<img src="/static/Icon_External_Link.png"></a>
        </li>
    </ul>
</div>
<div id="coords" class="ui ui-vis">
    X: <span id="coord_X"></span>
    Y: <span id="coord_Y"></span>
</div>

<!-- <h1 id="loading">Loading...</h1> -->
<div id="geoReminder">
	<span class="arrow"><img src="/static/geoarrow.png" /> </span>
    <h3>Loading &amp; Finding Your Location...</h3> 
        <p>You must allow us to use your location when your browser asks.</p><p> Otherwise, the site won't really work.</p>
</div>
<div id="aboutOverlay">
	<div class="closeme"></div>

	<img class="logo" src="/static/writtenworld.png">
<p>    
Hi There, 
</p><p>
We’re Zach Schwartz, Martín Bravo, Nara Kasbergen, Rachel Slaff, and Ruth Spencer, students in <a href="http://shirky.com/">Clay Shirky’s</a> Designing Conversational Spaces course at NYU’s <a href="http://itp.nyu.edu/itp/">ITP</a>. </p>
<p>
The Written World is an experiment, based on <a href="http://www.yourworldoftext.com/">yourworldoftext</a>. We’ve placed a free-form text canvas on top of Google maps and added geolocation* functionality to see what happens when we combine online chat with the pre-existing relationships that are inherent to physical location and real-world places. For now, we’ve limited WW to New York users, but will open it up to everyone soon.
</p>
<p>
You’ll automatically be positioned at your current location*. Want to travel? Type your way over to different areas or click and drag to scroll. To move the cursor, use the arrow keys, or double click.
</p><p>
That’s it. The rules of the site are for you to create (or ignore). So what are you waiting for? Go explore! 
</p><p>
<small>
*Geolocation is an experimental feature in html5 and may not work in all browsers, locations, operating systems, and weather systems. Sorry.</small>
</p>
</div>


<div id="loadingIndicator">
	<div class="closeme"></div>
	
    <img class="logo" src="/static/writtenworld.png">
    <h1>{{ world.name|default:"" }}</h1>

    {{world.prompt|safe}}

</div>

<div id="about_btn" class="button"> <a href="#">about this thing</a></div>

<div id="mapcanvas"></div>


<script type="text/javascript" src="/static/jquery-1.3.2.min.js"></script>

<script type="text/javascript">
var usercolor;
  $(function() {
    //implicit global is so silly
     properties = {{ properties|safe }};
   color = "{{ color }}";
	 usercolor = "{{ color }}";

  });
</script>

<!-- OUR CODE -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"></script>
<script type="text/javascript" src="/static/mapstyles.js"></script>
<script type="text/javascript" src="/static/owot.js"></script>


<!-- END OUR CODE -->

<script type="text/javascript" src="/static/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="/static/BrowserDetect.js"></script>
<!-- <script type="text/javascript" src="/static/jquery.scrollview.js"></script> -->
<script type="text/javascript" src="/static/jquery.droppy.js"></script>
<!-- <script type="text/javascript" src="/static/jquery.simplemodal-1.3.3.mod.js"></script> -->

<!-- <script type="text/javascript" src="/static/yourworld.js?v=4"></script> -->
<script type="text/javascript">
  $(function() {
    var menu = $.Menu($('#menu'), $('#nav'));
    var  state = {{ state|safe }};
    InitWorld(document.getElementById('yourworld'), menu, state);

  });
</script>




<!-- Google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27491690-1']);
  _gaq.push(['_setDomainName', 'writtenworld.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End Google analytics -->

</body>
</html>
